@font-face {
  font-family: myFirstFont;
  /*src: url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.3.0/web/fonts/hack-regular.woff');*/
  src: url('https://cdn.jsdelivr.net/gh/andrew-james-yoti/000-000-000-000/fonts/DS-DIGI.TTF');
}

:root {
  /*--avs-background-image: linear-gradient(180deg, var(--yoti-white) 0%, var(--yoti-grey-light) 100%);*/
  /*--avs-overlay-image: radial-gradient(100% 100% at 49.65% 0%, rgba(251, 251, 251, 0.5) 0%, rgba(182, 191, 204, 0.84) 100%);*/
  /*!* for colours that should keep UKC theme colours, create css var here and apply component style *!*/
  /*--homepage-age-estimation-badge-font-color: var(--yoti-blue-shade);*/
  /*--header-icon-bg-color: #229dff33;*/
  /*--header-icon-color: var(--yoti-grey-black);*/
  /*--avs-secondary-font-color: var(--yoti-grey-dark);*/
  /*--avs-alert-background-color: var(--yoti-blue-tint);*/
  /*--avs-alert-font-color: var(--yoti-blue-shade);*/
  --yoti-text: myFirstFont, sans-serif;
}

._1bu0tWqM_3c5iKM1KTN7ji::before {
  background-repeat: no-repeat;
  background-size: 32px 32px;
  height: 32px;
}

._1bu0tWqM_3c5iKM1KTN7ji._1t-17RCbdQ8C2z2ImfCL3R::before {
  background-image: url('https://cdn.jsdelivr.net/gh/andrew-james-yoti/000-000-000-000/assets/approve.svg');
  background-size: 32px 32px;
  height: 32px;
}

._1bu0tWqM_3c5iKM1KTN7ji._1AsdBVl2ovYkrYK4_QlZyJ::before {
  background-image: url('https://cdn.jsdelivr.net/gh/andrew-james-yoti/000-000-000-000/assets/keyhole.svg');
  background-size: 32px 32px;
  height: 32px;
}
._3gricP0o14vCbVxt_XELt0::before {
  background-image: url('https://cdn.jsdelivr.net/gh/andrew-james-yoti/000-000-000-000/assets/sim-card.svg');
  background-size: 32px 32px;
  height: 32px;
}
._1bu0tWqM_3c5iKM1KTN7ji._3gricP0o14vCbVxt_XELt0::before {
  background-image: url('https://cdn.jsdelivr.net/gh/andrew-james-yoti/000-000-000-000/assets/sim-card.svg');
  background-size: 32px 32px;
  height: 32px;
}

.yoti-button {
  border-radius: 0;
  background-color: skyblue;
  color: black;
}
